.book-list {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .book-list-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: red;
    font-style:italic;
    font-family:Arial, Helvetica, sans-serif;
  }
  
  .book-item {
    margin-bottom: 10px;
  }
  
  .book-title {
    font-size: 20px;
    margin-bottom: 5px;
    color:darkorchid
  }
  
  .book-info {
    margin: 0;
  }
  
  .book-divider {
    margin-top: 10px;
  }
  